{% extends 'base.html' %}

{% block content %}
    <div class="table">

    <div class="row header">
      <div class="cell">
        Имя
      </div>
      <div class="cell">
        Возраст
      </div>
      <div class="cell">
        Предпочтения
      </div>
      <div class="cell">
        Рекомендации
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">
        user234234
      </div>
      <div class="cell" data-title="Age">
        25
      </div>
      <div class="cell" data-title="Occupation">
        Винфрид Георг Зебель. Аустерлиц
      </div>
      <div class="cell" data-title="Location">
        Карл фон Клаузевиц. О войне
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">
        user63453
      </div>
      <div class="cell" data-title="Age">
        27
      </div>
      <div class="cell" data-title="Occupation">
        НРИ My little pony
      </div>
      <div class="cell" data-title="Location">
        НРИ Warhammer fantasy roleplay
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">
        user6755567
      </div>
      <div class="cell" data-title="Age">
        26
      </div>
      <div class="cell" data-title="Occupation">
        Исуна Хасэкура. Волчица и пряности
      </div>
      <div class="cell" data-title="Location">
        Юки Урусибара. Мастер Муси
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">
        id657565
      </div>
      <div class="cell" data-title="Age">
        25
      </div>
      <div class="cell" data-title="Occupation">
        Олдос Хаксли. О дивный новый мир
      </div>
      <div class="cell" data-title="Location">
        Джордж Оруэлл. 1984
      </div>
    </div>

  </div>

  <div class="table">

    <div class="row header green">
      <div class="cell">
        Имя
      </div>
      <div class="cell">
        Возраст
      </div>
      <div class="cell">
        Пол
      </div>
      <div class="cell">
        Предпочтения
      </div>
      <div class="cell">
        Рекомендации
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Product">
        id4353454
      </div>
      <div class="cell" data-title="Unit Price">
        12
      </div>
      <div class="cell" data-title="Quantity">
        Мужской
      </div>
      <div class="cell" data-title="Date Sold">
        услуга 2334 Кружок гончарного мастерства. Центр "Россия Молодая"
      </div>
      <div class="cell" data-title="Status">
        услуга 6456 Архитектурный кружок. Центр "Россия молодая" 
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Product">
        id45645455
      </div>
      <div class="cell" data-title="Unit Price">
        15
      </div>
      <div class="cell" data-title="Quantity">
        Мужской
      </div>
      <div class="cell" data-title="Date Sold">
        услуга 4643 Авиамоделирование. Кружок авиамоделирования МАИ
      </div>
      <div class="cell" data-title="Status">
        услуга 3453 Парашютный спорт. Центр Парашютного спорта "Аэроград"
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Product">
        id43543
      </div>
      <div class="cell" data-title="Unit Price">
        27
      </div>
      <div class="cell" data-title="Quantity">
        Женский
      </div>
      <div class="cell" data-title="Date Sold">
        услуга 4564 Боевые искусства. Каратэ. Клуб "Альфа Будо"
      </div>
      <div class="cell" data-title="Status">
        услуга 546 Боевые искусства. Тхэквон-до. Спортивный клуб TAEKWON
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Product">
        id234234234
      </div>
      <div class="cell" data-title="Unit Price">
        Мужской
      </div>
      <div class="cell" data-title="Quantity">
        10
      </div>
      <div class="cell" data-title="Date Sold">
        услуга 23434 Живопись. Школа акварели Сергея Андрияки
      </div>
      <div class="cell" data-title="Status">
        услуга 34534 Граффити. Клуб граффити "26-й кадр"
      </div>
    </div>

  </div>

  <div class="table">

    <div class="row header blue">
      <div class="cell">
        Имя
      </div>
      <div class="cell">
        Возраст
      </div>
      <div class="cell">
        Предпочтения
      </div>
      <div class="cell">
        Рекомендации
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Username">
        id23424
      </div>
      <div class="cell" data-title="Email">
        39
      </div>
      <div class="cell" data-title="Password">
        Концерт Надежды Кадышевой «И вновь любовь»
      </div>
      <div class="cell" data-title="Active">
        Концерт Пелагея "Музыка народов мира"
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Username">
        id345344
      </div>
      <div class="cell" data-title="Email">
        48
      </div>
      <div class="cell" data-title="Password">
        Русский Шансон. Александр Новиков "Вези меня извочик"
      </div>
      <div class="cell" data-title="Active">
        Жека. Дорога вникуда
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Username">
        id435345
      </div>
      <div class="cell" data-title="Email">
        25
      </div>
      <div class="cell" data-title="Password">
        Avantasia. Концерт в Москве
      </div>
      <div class="cell" data-title="Active">
        Kamelot. 25 лет группе
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Username">
        id345345
      </div>
      <div class="cell" data-title="Email">
        31
      </div>
      <div class="cell" data-title="Password">
        Tricky. Новый альбом. ГлавCLUB GREENCONCERT
      </div>
      <div class="cell" data-title="Active">
        Carla's Dreams концерт в Москве
      </div>
    </div>

  </div>
{% endblock %}